body, ul, li, h1, h2, h3, dl, dt, dd {
  margin: 0;
  padding: 0; }

ul, li, dl, dt, dd {
  list-style: none; }

a {
  color: #333333;
  text-decoration: none; }

a:hover {
  color: #333333; }

.header {
  width: 100%;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  text-align: center;
  margin-bottom: 0.16rem;
  font-size: 0.48rem;
  border-bottom: 1px solid #e8e8e8; }

.title {
  font-size: 0.48rem;
  line-height: 0.56rem;
  box-sizing: border-box;
  padding: 0 0.4rem; }

.detail {
  height: 0.72rem;
  font-size: 0.4rem;
  line-height: 0.4rem;
  box-sizing: border-box;
  padding: 0.1066666667rem 0 0 0.4rem; }
  .detail .time {
    color: #666666;
    margin-right: 0.32rem; }
  .detail .flag {
    color: #06acf9;
    margin-right: 0.4266666667rem; }
  .detail .iconfont {
    font-size: 0.48rem;
    color: #06acf9;
    margin-right: 12px; }
  .detail .readed {
    color: #666666;
    font-size: 0.4rem;
    line-height: 0.4rem; }

.content {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.2666666667rem;
  min-height: 1.3333333333rem;
  _height: 1.3333333333rem; }
  .content img {
    max-width: 100% !important; }

.goJubao {
  height: 1.6rem;
  box-sizing: border-box;
  padding: 0.2666666667rem 0 0 0.4666666667rem; }
  .goJubao .go {
    display: block;
    width: 8.8rem;
    height: 1.0666666667rem;
    line-height: 1.0666666667rem;
    background-color: #06acf9;
    border-radius: 0.1333333333rem 0.1333333333rem 0.1333333333rem 0.1333333333rem;
    text-align: center;
    color: #ffffff;
    font-size: 0.64rem; }

.section-title {
  margin-bottom: 0.2666666667rem;
  border-left: 0.0666666667rem solid #06acf9;
  font-size: 0.48rem;
  height: 0.4533333333rem;
  color: #06acf9;
  line-height: 0.4533333333rem;
  text-indent: 0.28rem; }

.topic-section {
  background: white;
  padding: 0.2666666667rem; }
  .topic-section .topic-article {
    display: flex;
    margin-bottom: 0.2533333333rem; }
    .topic-section .topic-article:last-child {
      margin-bottom: 0; }
    .topic-section .topic-article .article-l {
      width: 4.4666666667rem;
      height: 2.6666666667rem;
      border-radius: 0.0666666667rem;
      overflow: hidden;
      margin-right: 0.2666666667rem; }
      .topic-section .topic-article .article-l img {
        width: 100%;
        height: 100%; }
    .topic-section .topic-article .article-r {
      width: 4.7333333333rem;
      position: relative; }
      .topic-section .topic-article .article-r dt {
        width: 100%;
        font-size: 0.4266666667rem;
        line-height: 0.4666666667rem;
        margin-bottom: 0.2rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden; }
      .topic-section .topic-article .article-r dd {
        position: relative;
        width: 105%;
        font-size: 0.32rem;
        line-height: 0.48rem;
        color: #666666;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden; }
      .topic-section .topic-article .article-r .tip-right {
        position: absolute;
        top: inherit;
        bottom: 0;
        left: 0; }
        .topic-section .topic-article .article-r .tip-right img {
          vertical-align: middle;
          width: 0.48rem;
          height: 0.2933333333rem;
          margin-right: 0.12rem; }
        .topic-section .topic-article .article-r .tip-right span {
          font-size: 0.2933333333rem;
          color: #666666; }

/*# sourceMappingURL=articleDetail.css.map */
