$black: rgb(51, 51, 51);
$white: rgb(255, 255, 255);
@function rem($val) {
  @return $val/75+rem;
}
body, ul, li, p, h1, h2, h3, dl, dt, dd {
  margin: 0;
  padding: 0;
}

ul, li, dl, dt, dd {
  list-style: none;
}

a {
  color: $black;
  text-decoration: none;
}

a:hover {
  color: $black;
}

body {
  background: #fff;
}
.all{
  width: 100%;
  font-family: PingFang-SC-Medium;
  color: $black;
  font-size: 0;
  .header{
    position: relative;
    height: rem(90);
    width: 100%;
    text-align: center;
    font-size: rem(40);
    line-height: rem(90);
    background: $white;
    border-bottom: rem(1) solid #ccc;
    .back{
      position: absolute;
      left: rem(20);
      .icon-back{
        height: rem(90);
        font-size: rem(40);
        line-height: rem(90);
      }
    }
  }
  .pic{
    font-size: 0;
    img{
      width: 100%;
      height: auto;
    }
  }
  .section{
    padding: 0 rem(36) rem(35) rem(30);
    font-size: rem(36);
    line-height: rem(66);
    letter-spacing: 0;
    color: #333;
    text-align: justify;
    text-indent: 2em;
  }
}
