@charset "UTF-8";
body, ul, li, p, h1, h2, h3, dl, dt, dd {
  margin: 0;
  padding: 0; }

ul, li, dl, dt, dd {
  list-style: none; }

a {
  color: #333333;
  text-decoration: none; }

a:hover {
  color: #333333; }

.blue {
  color: #06acf9; }

body {
  background: #eee; }

.all {
  width: 100%;
  font-family: ﻿PingFang-SC-Regular;
  font-size: 0.32rem;
  color: #333333;
  /* ---------------pro_info 产品详情------------------*/ }
  .all .banner {
    width: 100%;
    font-size: 0;
    margin-bottom: 0.2666666667rem; }
    .all .banner img {
      width: 100%; }
  .all .pro_video {
    width: 100%;
    padding-bottom: 0.1333333333rem;
    background: #eee; }
  .all .video-wrapper {
    position: relative;
    width: 100%;
    height: 5.3333333333rem;
    color: #fff;
    background: #000;
    overflow: hidden; }
  .all .poster {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background: #000;
    background-size: cover !important; }
  .all .video-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 1.0666666667rem;
    height: 1.0666666667rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4); }
  .all .video-wrapper .icon-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-44%, -50%, 0);
    font-size: 0.5rem; }
  .all video {
    width: 0;
    height: 0; }
  .all video.isPlay {
    width: 100%;
    height: 100%; }
  .all .tip {
    width: 100%;
    height: 0.5333333333rem;
    background: rgba(0, 0, 0, 0.4);
    font-size: 0.2933333333rem;
    line-height: 0.5333333333rem;
    text-align: center;
    position: absolute;
    bottom: 0; }
  .all ul.zcb_count {
    border-bottom: 0.2666666667rem solid #eeeeee;
    border-top: 0.2666666667rem solid #eeeeee; }
    .all ul.zcb_count li {
      font-size: 0.4rem;
      color: #333333;
      height: 1.0666666667rem;
      line-height: 1.0666666667rem;
      border-bottom: 1px solid #ccc;
      padding: 0 0 0 0.4rem;
      background: #fff; }
      .all ul.zcb_count li .label {
        display: inline-block;
        width: 1.8rem;
        margin-right: 0.1333333333rem; }
      .all ul.zcb_count li span.distance {
        padding: 0 0.1866666667rem; }
      .all ul.zcb_count li span.coverage {
        font-size: 0.4rem;
        padding: 0 0.2666666667rem;
        border: 1px solid #666666;
        border-radius: 0.1066666667rem; }
      .all ul.zcb_count li span.br {
        margin-right: 0.6666666667rem;
        margin-left: 0.2666666667rem; }
      .all ul.zcb_count li span.bechose {
        border-color: #06acf9; }
    .all ul.zcb_count li.distance_price_count select {
      font-size: 0.32rem;
      height: 0.5333333333rem;
      line-height: 0.5333333333rem; }
    .all ul.zcb_count li.distance_price_count select:nth-of-type(1) {
      width: 2.4rem;
      padding-left: 0.5333333333rem; }
    .all ul.zcb_count li.distance_price_count select:nth-of-type(2) {
      width: 2.9866666667rem;
      padding-left: 0.2666666667rem; }
    .all ul.zcb_count li.price_box .fr {
      margin-right: 0.6666666667rem; }
      .all ul.zcb_count li.price_box .fr .price {
        color: red;
        padding: 0 0.1333333333rem; }
  .all .pro_tab {
    font-size: 0;
    height: 0.9733333333rem;
    line-height: 0.9733333333rem;
    text-align: center;
    background: #fff; }
  .all .pro_tab .tab_item {
    display: inline-block;
    font-size: 0.4266666667rem;
    width: 50%;
    height: 100%; }
  .all .pro_tab .tab_on {
    color: #fff;
    background: #06acf9; }
  .all .pro_content {
    width: 100%;
    background: #fff; }
    .all .pro_content .imgWrapper {
      position: relative;
      width: 100%;
      font-size: 0;
      padding-bottom: 0.4rem; }
      .all .pro_content .imgWrapper img {
        width: 100%;
        height: auto; }
      .all .pro_content .imgWrapper .detail {
        display: block;
        position: absolute;
        left: 4.76rem;
        bottom: 1.0933333333rem;
        width: 1.9066666667rem;
        height: 0.28rem;
        border-radius: 0.1066666667rem;
        color: #fff;
        font-size: 0.2666666667rem;
        text-align: center;
        line-height: normal;
        padding: 0.12rem 0 0.16rem; }
  .all .pro_foot {
    width: 100%;
    background: #fff;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .all .pro_foot .button {
      display: block;
      width: 8.8133333333rem;
      height: 1.0933333333rem;
      background-color: #06acf9;
      border-radius: 0.1333333333rem;
      text-align: center;
      line-height: 1.0933333333rem;
      font-size: 0.64rem;
      color: #fff; }
  .all .blue_bg {
    background: #06acf9; }
  .all .blue_font {
    color: #06acf9; }
  .all .pro_info {
    background: #eee; }
    .all .pro_info .pro_item {
      background: #fff;
      margin-top: 0.1333333333rem; }
      .all .pro_info .pro_item .item_title {
        position: relative;
        font-size: 0.4rem;
        height: 0.96rem;
        line-height: 0.96rem;
        text-align: center;
        box-sizing: border-box;
        background: #fafafa;
        font-family: PingFang-SC-Bold;
        letter-spacing: 0.04rem; }
        .all .pro_info .pro_item .item_title i {
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -0.4rem;
          width: 0;
          height: 100%;
          border-top: 0.2666666667rem solid #fafafa;
          border-right: 0.4rem solid transparent;
          border-left: 0.4rem solid transparent;
          z-index: 1; }
      .all .pro_info .pro_item .item_text {
        position: relative;
        font-size: 0.4rem;
        text-align: center;
        background: #fff;
        margin-top: 0.1333333333rem;
        padding: 0.2666666667rem 0.2666666667rem;
        letter-spacing: 0.04rem;
        font-family: PingFang-SC-Regular; }
        .all .pro_info .pro_item .item_text .isMsg {
          text-align: left;
          padding-left: 0.2666666667rem;
          line-height: 0.6933333333rem;
          letter-spacing: 0.04rem; }
        .all .pro_info .pro_item .item_text.text_center p {
          text-align: center;
          padding-left: 0; }
        .all .pro_info .pro_item .item_text > p {
          padding: 0.1333333333rem 0; }
        .all .pro_info .pro_item .item_text p {
          font-size: 0.4rem;
          line-height: 0.6666666667rem;
          padding-left: 1.2rem;
          text-align: left; }
          .all .pro_info .pro_item .item_text p.isTitle {
            padding-left: 0.2666666667rem;
            background: none;
            color: #0798dc; }
          .all .pro_info .pro_item .item_text p.hasIcon {
            background: url("../img/hcbShare/huiji.png") no-repeat;
            background-size: 0.4rem;
            background-position: 0.2666666667rem 0.2666666667rem; }
      .all .pro_info .pro_item.pro_MianPei .item_text p {
        position: relative; }
        .all .pro_info .pro_item.pro_MianPei .item_text p:after {
          display: block;
          content: "1";
          position: absolute;
          left: 0.2666666667rem;
          top: 0.2666666667rem;
          width: 0.4rem;
          height: 0.4rem;
          font-size: 0.4rem;
          line-height: 0.4rem;
          border: 1px solid #06acf9;
          color: #06acf9;
          text-align: center;
          border-radius: 50%;
          z-index: 1;
          background: #fff; }
        .all .pro_info .pro_item.pro_MianPei .item_text p:nth-child(2):after {
          content: "2"; }
        .all .pro_info .pro_item.pro_MianPei .item_text p:nth-child(3):after {
          content: "3"; }
        .all .pro_info .pro_item.pro_MianPei .item_text p:nth-child(4):after {
          content: "4"; }
      .all .pro_info .pro_item.pro_LiPei .item_text div i {
        float: left;
        width: 0.8666666667rem;
        height: 0.8666666667rem;
        position: relative;
        z-index: 1;
        top: 0.1066666667rem;
        left: 0.1066666667rem;
        background-repeat: no-repeat;
        background-size: 0.8rem;
        background-position: 1px 0; }
      .all .pro_info .pro_item.pro_LiPei .item_text div:nth-child(1) i {
        background-image: url("../img/hcbShare/icon_tel.png"); }
      .all .pro_info .pro_item.pro_LiPei .item_text div:nth-child(2) i {
        background-image: url("../img/hcbShare/icon_find.png"); }
      .all .pro_info .pro_item.pro_LiPei .item_text div:nth-child(3) i {
        background-image: url("../img/hcbShare/icon_money.jpg"); }
      .all .pro_info .pro_item.pro_LiPei .item_text > div:after {
        content: " ";
        display: block;
        position: absolute;
        border: 1px solid #eee;
        height: 75%;
        top: 0.9333333333rem;
        left: 0.7733333333rem; }
      .all .pro_info .pro_item.pro_Tab .item_text {
        margin-top: 1px;
        padding-top: 0; }
      .all .pro_info .pro_item.pro_Tab .tab_con {
        width: 9.2rem;
        margin: 0 auto; }
        .all .pro_info .pro_item.pro_Tab .tab_con .tab_head {
          background-color: #06acf9;
          border-radius: 10px 10px 0 0;
          padding-top: 0.5333333333rem;
          font-size: 0;
          color: #fff; }
          .all .pro_info .pro_item.pro_Tab .tab_con .tab_head > div {
            display: inline-block;
            box-sizing: border-box; }
          .all .pro_info .pro_item.pro_Tab .tab_con .tab_head .distance {
            float: left;
            width: 4rem;
            height: 2.4rem;
            line-height: 2.4rem;
            font-size: 0.5333333333rem; }
          .all .pro_info .pro_item.pro_Tab .tab_con .tab_head .zeren {
            width: 5.0666666667rem;
            font-size: 0.4rem;
            border-left: 1px solid #fff; }
            .all .pro_info .pro_item.pro_Tab .tab_con .tab_head .zeren div {
              box-sizing: border-box; }
            .all .pro_info .pro_item.pro_Tab .tab_con .tab_head .zeren > div:first-child {
              border-bottom: 1px solid #fff;
              height: 0.6666666667rem;
              line-height: 0.6666666667rem; }
            .all .pro_info .pro_item.pro_Tab .tab_con .tab_head .zeren > div:nth-child(2) {
              height: 0.8rem;
              line-height: 0.8rem;
              font-size: 0; }
              .all .pro_info .pro_item.pro_Tab .tab_con .tab_head .zeren > div:nth-child(2) span {
                display: inline-block;
                width: 48%;
                height: 100%;
                font-size: 0.4rem;
                text-align: center; }
              .all .pro_info .pro_item.pro_Tab .tab_con .tab_head .zeren > div:nth-child(2) span:first-child {
                border-right: 1px solid #fff; }
            .all .pro_info .pro_item.pro_Tab .tab_con .tab_head .zeren > div:last-child {
              border-top: 1px solid #fff;
              height: 0.9333333333rem;
              line-height: 0.9333333333rem; }
        .all .pro_info .pro_item.pro_Tab .tab_con .tab_item {
          font-size: 0;
          background: #e6f7fe;
          padding: 0.32rem 0 0.4rem; }
          .all .pro_info .pro_item.pro_Tab .tab_con .tab_item div {
            display: inline-block;
            font-size: 0.4rem;
            text-align: center;
            letter-spacing: 1px; }
            .all .pro_info .pro_item.pro_Tab .tab_con .tab_item div.distance {
              width: 4rem; }
            .all .pro_info .pro_item.pro_Tab .tab_con .tab_item div.time {
              width: 2.5333333333rem; }
          .all .pro_info .pro_item.pro_Tab .tab_con .tab_item:last-child {
            border-radius: 0 0 10px 10px; }

/*# sourceMappingURL=zcbShare.css.map */
