<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>货车重大事故保</title>
    <link rel="stylesheet" href="./css/hcb.css" type="text/css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_514054_44qysw76w0tqpvi.css">
    <link rel="stylesheet" href="./css/common.css" type="text/css">
    <link rel="stylesheet" href="./css/flexible.css" type="text/css">
    <link rel="stylesheet" href="./css/loading.css" type="text/css">
    <script src="js/flexible.js"></script>
</head>
<style>
      .foot_left1{
    background-color: #fff;
    color: red;
  }
  .foot_left2{
    background-color: #06acf9;
    color: #fff;
  }
</style>
<body>
<div class="all" :class="{isShare:alias}">
    <div class="header" v-show="alias" style="display: none;">
        <a :href="backUrl" class="back"><i class="iconfont icon-fanhui"></i></a>
        货车重大事故保
    </div>
    <div class="banner">
        <img src="./img/hcbShare/hcbBanner.jpg" alt="">
    </div>
    <div class="pro_video">
        <div class="video-wrapper">
            <video :src="videoSrc"
                   :class="{isPlay:!isVideoEnd}"
                   ref="video"
                   @ended="videoEnd"
                   controls="controls"
            >
                您的游览器不支持视频播放，请升级！
            </video>
            <div class="poster" :style="background(poster)" v-show="isVideoEnd">
                <div class="video-play" @click="videoPlay">
                    <i class="iconfont icon-play"></i>
                </div>
                <div class="tip">{{videoTitle}}</div>
            </div>
        </div>
    </div>
    <ul class="pro_list">
      <li>货车重大事故保——解决超高赔偿风险</li>
      <li class="case_tab">
        <div class="case_item" v-for="(item,index) in priceData" :class="caseIndex === index ? 'on': ''" @click="caseIndex = index">方案{{NumberToChinese(index+1)}}<br/>{{item.coverage/10000}}万</div>
      </li>
      <li>责任限额<span class="lr">{{priceData.length>0 ? priceData[caseIndex].coverage/10000 : 0}}万</span></li>
      <li>保费<span class="lr"><span class="red">{{allPrice}}.00</span> 元</span></li>
    </ul>
    <div class="pro_tab">
        <div class="tab_item" :class="{tab_on: tabIndex===1 }" @click="tabIndex=1">
            <span>产品介绍</span>
        </div>
        <div class="tab_item" :class="{tab_on: tabIndex===2 }" @click="tabIndex=2">
            <span>详细说明</span>
        </div>
    </div>
    <div class="pro_content" v-show="tabIndex===1">
        <div class="imgWrapper" v-for="(item,index) in 10">
            <img :src="'./img/hcbShare/hcb'+ item +'.jpg'" alt="">
            <a class="zuhe" v-if="item==9" :href="dchynbUrl">定车货运年保</a>
            <!--<span class="detail h5_detail_btn" v-if="item==11" @click="toGoldClaims">了解详情</span>-->
        </div>
    </div>
    <div class="pro_info" v-show="tabIndex===2">
        <div class="pro_item pro_TiaoKuan">
            <div class="item_title">
                <b>产品条款</b>
                <i></i>
            </div>
            <div class="item_text text_center">
                <p>《公路货物运输定额保险条款》</p>
                <p>《公路货物运输保险附加第三者责任保险条款》</p>
            </div>
        </div>
        <div class="pro_item pro_ZeRen">
            <div class="item_title">
                <b>保险责任</b>
                <i></i>
            </div>
            <div class="item_text">
                <p class="noPaddingL">（附加险保险责任）</p>
                <p class="noPaddingL">被保险人或其允许的合法驾驶人在保险货物的运
                    输过程中，因过失造成第三者人身伤亡或财产直
                    接损毁，依法应由被保险人承担的经济赔偿责任，保险人按照合同的约定负责赔偿。</p>
            </div>
        </div>
        <div class="pro_item pro_QiXian">
            <div class="item_title">
                <b>保险期限</b>
                <i></i>
            </div>
            <div class="item_text text_center">
                <p>一年</p>
            </div>
        </div>
        <div class="pro_item pro_Tab">
            <div class="item_title">
                <b>保险费计收</b>
                <i></i>
            </div>
            <div class="item_text">
                <div class="tab_con">
                    <div class="tab_head">
                        <div class="time">责任限额（元 / 次）</div>
                        <div class="money">保险费（元 / 年）</div>
                    </div>
                    <div class="tab_item" v-for="item in 4">
                        <div class="time">{{100*item}}万</div>
                        <div class="money">{{600+600*item}}</div>
                    </div>
                    <div class="tab_item">
                        <div class="time">500万</div>
                        <div class="money">3500</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro_item">
            <div class="item_title">
                <b>免赔额</b>
                <i></i>
            </div>
            <div class="item_text">
                <p class="noPaddingL">每次事故绝对免赔额为人民币112万元或被保险人从其他保单（包括但不限于车险商业三者险、交强险）中获得的赔偿金额之和，两者以高者为准。</p>
                <p class="noPaddingL">每次事故按照损失金额扣除绝对免赔额后的90%进行赔付。</p>
            </div>
        </div>
        <div class="pro_item pro_ZiLiao">
            <div class="item_title">
                <b>投保资料</b>
                <i></i>
            </div>
            <div class="item_text">
                <p>企业营业执照；</p>
                <p>运输车辆行驶证及车辆运输证；</p>
                <p>投保单；如车辆较多，可填写投保车辆清单。<br>
                  将以上资料收集齐全后可拨打首页客户服务热线，办理相关投保事宜。</p>
            </div>
        </div>
        <div class="pro_item pro_LiPei">
            <div class="item_title">
                <b>理赔指南</b>
                <i></i>
            </div>
            <div class="item_text">
                <div>
                    <i></i>
                    <p class="blue_font">电话报案</p>
                    <p>保险事故发生后，应及时报案。建议首先拨打首页客户服务热线，与客服人员取得联系。<br>
                      报案成功后，专属保险顾问会及时联系被保险人，指导被保险人处理现场。</p>
                </div>
                <div>
                    <i></i>
                    <p class="blue_font">审核</p>
                    <p>查勘员完成查勘工作后，专属保险顾问会发送理赔资料清单，指导被保险人收集填写，直至资料合格后，由保险顾问提交给保险公司核损。<br>
                      保险公司给出核损方案后，您的专属保险顾问会从专业的角度和维护被保险人利益的立场，审核其合理性。</p>
                </div>
                <div>
                    <i></i>
                    <p class="blue_font">赔付保险金</p>
                    <p>被保险人与保险公司对赔偿金额皆无异议后，保险公司赔付保险金到被保险人指定账户，本次理赔完成并结案。</p>
                </div>
            </div>
        </div>
        <div class="pro_item pro_itemXuZi">
            <div class="item_title">
                <b>不能理赔的情况说明</b>
                <i></i>
            </div>
            <div class="item_text">
                <p class="hasIcon">被利用从事违法活动；</p>
                <p class="hasIcon">无公安机关交通管理部门核发的行驶证或号牌，或未按规定检验或检验不合格;</p>
                <p class="hasIcon">无有效驾驶证；</p>
                <p class="hasIcon">驾驶的运输工具与驾驶证载明的准驾运输工具不符；</p>
                <p class="hasIcon">饮酒、吸食或注射毒品、被药物麻醉后驾驶运输工具；</p>
                <p class="hasIcon">在按照法律法规或公安机关交通管理部门有关规定不允许驾驶运输工具的其他情况下驾驶;</p>
                <p class="hasIcon">事故发生后，逃离事故现场，或故意破坏、伪造现场、毁灭证据。</p>
                <p class="blue_font">以上仅为保险合同及条款部分摘要，详细描述请见合同及条款“责任免除”部分。</p>
            </div>
        </div>
    </div>
    <div class="zcb_bottom" v-show="alias" style="display: none;">
        <span class="foot_left1" v-if="flag">￥{{allPrice}}.00</span>
        <a :href="backUrl" class="foot_left2" v-else><i class="iconfont icon-shouye"></i>首页</a>
        <a :href="'tel:'+phoneNumber" class="foot_center" v-if="flag">服务顾问</a>
        <a :href="'tel:'+servicePhone" class="foot_center" v-else>客服</a>
        <!-- <a :href="createUrl" class="foot_right">立即投保</a> -->
        <span @click="insured" class="foot_right">立即投保</span>
    </div>
    <div class="loading">
        <span class="cicle"></span>
        <div class="reload">
            <i class="iconfont icon-wifi"></i><br>
            网络不给力，请重新加载<br>
            <div onclick="window.location.reload()">重新加载</div>
        </div>
    </div>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/common.js?v=20180912"></script>
<script src="js/loading.js"></script>
<script src="js/ajax.js"></script>
<script src="js/mixins.js?v=20180912"></script>
<script src="js/NumberToChinese.js"></script>
<script>
    var vm = new Vue({
        el: '.all',
        data: {
            videoSrc: '',
            videoTitle:'',
            isVideoEnd: true,
            caseIndex:0,
            tabIndex: 1, // 控制tab选中状态
            alias: getParamName('alias'),
            backUrl:backUrl,
            productName:'货车重大事故保',
            priceData:[],
            isWWW:isWWW,
            flag: true,
            servicePhone: "",
            createUrl:backUrl+'/hcbCreate?t='+new Date().getTime()
        },
        mixins:[mobile,goldClaims,videoLogic,iframeHeight,hynbPrice],
        computed:{
            dchynbUrl:function () {
                var url = './dchynb.html';
                return this.alias ? url+'?alias='+this.alias+"&product_name=dchynb": url+"?product_name=dchynb";
            },
            allPrice:function () {
              var allPrice = this.priceData.length>0 ? this.priceData[this.caseIndex].price/100 : 0;
              priceAll('￥'+ allPrice +'.00')
              return allPrice;
            }
        },
        created:function () {
            var _this = this;
            if(_this.alias && _this.alias != "null" && _this.alias != "undefined" && _this.alias != "") {
                _this.flag = true;
            }else{
                _this.flag = false;
            }
//            saveDefaultRegisterDate(this.alias);
          saveLocationInfo()
            this.getPhone();
            this._getData();
            this.getPriceData();
        },
        methods:{
          NumberToChinese:function(num){
            return NumberToChinese(num);
          },
          insured:function() {
            this.$nextTick(() => {
                    setStorage({"createdRouter":this.createUrl});
                    window.location.href = this.createUrl;
                })
            }
        },
    });
</script>
</html>
