<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大宗货物保</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="./css/hwb.css" type="text/css">
    <link rel="stylesheet" href="./css/common.css" type="text/css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_514054_44qysw76w0tqpvi.css">
    <link rel="stylesheet" href="./css/flexible.css" type="text/css">
    <link rel="stylesheet" href="./css/loading.css" type="text/css">
    <script src="js/flexible.js"></script>
</head>
<body>
<div class="all" :class="{isShare:alias}">
    <div class="header" v-show="alias" style="display: none;">
        <a :href="backUrl" class="back"><i class="iconfont icon-fanhui"></i></a>
        大宗货物保
    </div>
    <div class="banner">
        <img src="./img/hwb/hwbBanner.png" alt="">
    </div>
    <div class="pro_video">
        <div class="video-wrapper">
            <video :src="videoSrc"
                   :class="{isPlay:!isVideoEnd}"
                   ref="video"
                   @ended="videoEnd"
                   controls="controls"
            >
                您的游览器不支持视频播放，请升级！
            </video>
            <div class="poster" :style="background(poster)" v-show="isVideoEnd">
                <div class="video-play" @click="videoPlay">
                    <i class="iconfont icon-play"></i>
                </div>
                <div class="tip">{{videoTitle}}</div>
            </div>
        </div>
    </div>
    <!--计算器 start-->
    <ul class="dchyb_count">
        <li class="title">大宗货物保----公路货运基本险</li>
        <li class="distance_price_count">
            <label class="label">始发地</label>
            <div class="select_reset">
                <select v-model="startProvince" class="zcb_select1">
                    <option v-for="(val,idx) in startProvinceList" :value="val">{{val}}</option>
                </select>
            </div>
            <div class="select_reset">
                <select v-model="startCity" class="zcb_select2">
                    <option v-for="(val,idx) in startCityList"  :value="val" >{{val}}</option>
                </select>
            </div>
        </li>
        <li class="distance_price_count">
            <label class="label">目的地</label>
            <div class="select_reset">
                <select v-model="endProvince" class="zcb_select1">
                    <option v-for="(val,idx) in endProvinceList" :value="val">{{val}}</option>
                </select>
            </div>
            <div class="select_reset">
                <select v-model="endCity" class="zcb_select2">
                    <option v-for="(val,idx) in endCityList" :value="val">{{val}}</option>
                </select>
            </div>
        </li>
        <li class="block"><span class="label">保险金额</span><input type="text" :placeholder="'保额不超过'+maxCoverage/10000+'万元'" v-model="coverage"  @keyup="countPrice"><span class="fr">万元</span></li>
        <li class="price_box">
            <span class="label">保费</span>
            <span class="fr">
                <span class="price">{{(price/100).toFixed(2) }}</span><span>元</span>
               </span>
        </li>
    </ul>
    <!--计算器 end-->
    <div class="pro_tab">
        <div class="tab_item" :class="{tab_on: tabIndex===1 }" @click="tabIndex=1">
            <span>产品介绍</span>
        </div>
        <div class="tab_item" :class="{tab_on: tabIndex===2 }" @click="tabIndex=2">
            <span>详细说明</span>
        </div>
    </div>
    <div class="pro_content" v-show="tabIndex===1">
        <div class="imgWrapper" v-for="(item,index) in 4">
            <img :src="'./img/hwb/hwb'+ item +'.png'" alt="">
            <!--<router-link class="detail" v-if="index==8" :to="'/goldClaims'">了解详情</router-link>-->
        </div>
    </div>
    <div class="pro_info" v-show="tabIndex===2">
        <div class="pro_item pro_item1">
            <div class="item_title">
                <b>产品条款</b>
                <i></i>
            </div>
            <div class="item_text">
                <p>《国内水路、陆路货物运输保险条款》基本险</p>
            </div>
        </div>
        <div class="pro_item pro_item2">
            <div class="item_title">
                <b>承保标的货物种类</b>
                <i></i>
            </div>
            <div class="item_text">
                <p>煤炭、钢铁、矿砂及其他一般大宗金属类货物</p>
            </div>
        </div>
        <div class="pro_item pro_item7">
            <div class="item_title">
                <b>保险责任</b>
                <i></i>
            </div>
            <div class="item_text">
                <p style="color:#06acf9;">本保险仅承保以下事故导致的货物损失：</p>
                <p>
                    因火灾、爆炸所造成的损失；
                </p>
                <p>
                    由于运输工具发生碰撞、倾覆所造成的损失。
                </p>
            </div>
        </div>
        <div class="pro_item pro_item2">
            <div class="item_title">
                <b>免赔额</b>
                <i></i>
            </div>
            <div class="item_text">
                <p>每次事故绝对免赔额为货物总价值的5%</p>
            </div>
        </div>
        <div class="pro_item pro_item2">
            <div class="item_title">
                <b>保险费率</b>
                <i></i>
            </div>
            <div class="item_text">
                <p>0.01%</p>
            </div>
        </div>
        <div class="pro_item pro_item2">
            <div class="item_title">
                <b>最高保险金额</b>
                <i></i>
            </div>
            <div class="item_text">
                <p>单次最高可申报保险金额人民币200万元</p>
            </div>
        </div>
        <div class="pro_item pro_item2">
            <div class="item_title">
                <b>保险费</b>
                <i></i>
            </div>
            <div class="item_text">
                <p>保险费=保险金额*保险费率</p>
                <p>单次申报运输最低保险费为人民币10元</p>
            </div>
        </div>
        <div class="pro_item pro_item9">
            <div class="item_title">
                <b>产品优势</b>
                <i></i>
            </div>
            <div class="item_text">
                <p>无需签订预约协议，单票货物可随时投保</p>
                <p>
                    <span style="color:#06acf9;">本保险产品是国内唯一将单次运费纳入保险保障范围的互联网单次货运险产品。</span><br>
                    保险人将根据定损金额与保险金额的比例*该次运费的数额对损失的运费进行补偿，但最高不超过该次运费的实际金额。
                </p>
            </div>
        </div>
        <div class="pro_item pro_item10">
            <div class="item_title">
                <b>理赔指南</b>
                <i></i>
            </div>
            <div class="item_text">
                <div>
                    <i></i>
                    <p>电话报案</p>
                    <p>保险事故发生后，应及时报案。<br>建议首先拨打聚保物流保险平台服务热线<span style="color:#06acf9;">40080-59680</span>，与客服人员取得联系，聚保物流保险平台会指派理赔专员进行一对一的报案指导。<br>
                        您也可以按照保单上所示的报案电话直接向保险公司报案。</p>
                </div>
                <div>
                    <i></i>
                    <p>资料收集</p>
                    <p>被保险人应根据案件情况，及时保存和准备关于事故原因、事故损失、货物价值证明、车辆及单位证件等相关的事故索赔资料。</p>
                </div>
                <div>
                    <i></i>
                    <p>保险顾问协助</p>
                    <p>报案成功后，保险顾问会及时联系被保险人，以确认被保险人准备资料的完整性和必要性。<br>被保险人准备好理赔资料后，可先将影印资料发送至聚保金牌理赔专属电子邮箱：<span style="color:#06acf9;">lipei01@jubao56.com</span>，保险顾问会进一步协助您核定资料完整性。</p>
                </div>
                <div>
                    <i></i>
                    <p>寄送资料原件</p>
                    <p>资料审核无误后，被保险人可根据保险顾问的具体建议，将资料原件寄送到指定地点。</p>
                </div>
                <div>
                    <i></i>
                    <p>赔付保险金</p>
                    <p>保险公司审核原件资料，双方确定保险赔偿金额后，保险赔偿金将直接支付到被保险人的账户，本次理赔完成并结案。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="zcb_bottom" v-show="alias" style="display: none;">
        <a :href="backUrl" class="foot_left"><i class="iconfont icon-shouye"></i>首页</a>
        <a :href="'tel:'+phoneNumber" class="foot_center">服务顾问</a>
        <a :href="backUrl+'/hwbCreate?productType=hwb'" class="foot_right">立即投保</a>
    </div>
    <div class="loading">
        <span class="cicle"></span>
        <div class="reload">
            <i class="iconfont icon-wifi"></i><br>
            网络不给力，请重新加载<br>
            <div onclick="window.location.reload()">重新加载</div>
        </div>
    </div>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/common.js?v=20180912"></script>
<script src="js/loading.js"></script>
<script src="js/ajax.js"></script>
<script src="js/mixins.js?v=20180912"></script>
<script>

    var vm = new Vue({
        el: '.all',
        mixins:[dchybDetail,mobile,videoLogic,iframeHeight],
        data: {
            videoSrc: "",
            videoTitle:'',
            isVideoEnd: true,
            tabIndex: 1, // 控制tab选中状态
            alias: getParamName('alias'),
            productType:'hwb',
            backUrl:backUrl,
            productName:'大宗货物保',
        },
        created:function () {
//            saveDefaultRegisterDate(this.alias,this.productName);
          saveLocationInfo()
            this.getPhone();
            this.init();
            this._getData();
        },
        methods:{

        },
    });
</script>
</html>
