<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>商铺档口火灾保</title>
    <link rel="stylesheet" href="./css/spbShare.css" type="text/css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_514054_44qysw76w0tqpvi.css">
    <link rel="stylesheet" href="./css/common.css" type="text/css">
    <link rel="stylesheet" href="./css/flexible.css" type="text/css">
    <link rel="stylesheet" href="./css/loading.css" type="text/css">
    <script src="js/flexible.js"></script>
</head>
<style>
      .foot_left1{
    background-color: #fff;
    color: red;
  }
  .foot_left2{
    background-color: #06acf9;
    color: #fff;
  }
</style>
<body>
    <div class="all" :class="{isShare:alias}">
        <div class="header" v-show="alias" style="display: none;">
            <a :href="backUrl" class="back"><i class="iconfont icon-fanhui"></i></a>
            商铺档口火灾保
        </div>
        <div class="banner">
            <img src="./img/spbShare/spbBanner.jpg" alt="">
        </div>
        <div class="pro_video">
            <div class="video-wrapper">
                <video :src="videoSrc"
                       :class="{isPlay:!isVideoEnd}"
                       ref="video"
                       @ended="videoEnd"
                       controls="controls"
                >
                    您的游览器不支持视频播放，请升级！
                </video>
                <div class="poster" :style="background(poster)" v-show="isVideoEnd">
                    <div class="video-play" @click="videoPlay">
                        <i class="iconfont icon-play"></i>
                    </div>
                    <div class="tip">{{videoTitle}}</div>
                </div>
            </div>
        </div>
        <div class="pro_case">
            <div class="case_title">商铺档口火灾保——财产基本险</div>
            <div class="case_tab">
                <div class="case_item" :class="caseIndex === 1 ? 'on': ''" @click="caseIndex = 1">方案一<br/>100万</div>
                <div class="case_item" :class="caseIndex === 2 ? 'on': ''" @click="caseIndex = 2">方案二<br/>200万</div>
                <div class="case_item" :class="caseIndex === 3 ? 'on': ''" @click="caseIndex = 3">方案三<br/>300万</div>
            </div>
            <div class="case_content">
                <div class="cell">
                    <div>保险金额</div>
                    <div>{{ caseList[caseIndex-1][0] }}万</div>
                </div>
                <div class="cell gray">
                    <div>固定资产</div>
                    <div>{{ caseList[caseIndex-1][1] }}万</div>
                </div>
                <div class="cell gray">
                    <div>临时存资</div>
                    <div>{{ caseList[caseIndex-1][2] }}万</div>
                </div>
                <div class="cell gray">
                    <div>租金补偿</div>
                    <div>{{ caseList[caseIndex-1][3] }}元/天*90</div>
                </div>
            </div>
            <div class="cell money">
                <div>合计保费</div>
                <div><span class="red">￥{{ allprice }}</span> 元</div>
            </div>
        </div>
        <div class="pro_tab">
            <div class="tab_item" :class="{tab_on: tabIndex===1 }" @click="tabIndex=1">
                <span>产品介绍</span>
            </div>
            <div class="tab_item" :class="{tab_on: tabIndex===2 }" @click="tabIndex=2">
                <span>详细说明</span>
            </div>
        </div>
        <div class="pro_content" v-show="tabIndex===1">
            <div class="imgWrapper" v-for="(item,index) in 8">
                <img :src="'./img/spbShare/spb0'+(index+1)+'.jpg'" alt="">
                <!--<span class="detail h5_detail_btn" v-if="index==8" @click="toGoldClaims">了解详情</span>-->
            </div>
        </div>
        <div class="pro_info" v-show="tabIndex===2">
            <div class="pro_item pro_item1">
                <div class="item_title">
                    <b>产品条款</b>
                    <i></i>
                </div>
                <div class="item_text">
                    <p>《财产基本险条款》</p>
                </div>
            </div>
            <div class="pro_item pro_item2">
                <div class="item_title">
                    <b>保险责任</b>
                    <i></i>
                </div>
                <div class="item_text">
                    <p>火灾、爆炸、雷击、空中物体坠落</p>
                </div>
            </div>
            <div class="pro_item pro_item3">
                <div class="item_title">
                    <b>保险期限</b>
                    <i></i>
                </div>
                <div class="item_text">
                    <p>一年</p>
                </div>
            </div>
            <div class="pro_item pro_item4">
                <div class="item_title">
                    <b>保障责任</b>
                    <i></i>
                </div>
                <div class="item_text">
                    <img src="./img/spbShare/table.jpg" width="100%">
                </div>
            </div>
            <div class="pro_item pro_item5">
                <div class="item_title">
                    <b>免赔额</b>
                    <i></i>
                </div>
                <div class="item_text">
                    <p>每次事故绝对免赔额为2000元或损失金额的10%，两者以高者为准。</p>
                </div>
            </div>
            <div class="pro_item pro_item6">
                <div class="item_title">
                    <b>投保资料</b>
                    <i></i>
                </div>
                <div class="item_text">
                    <div>
                        <p>企业营业执照</p>
                        <p>商铺档口照片：<br>商铺外部正面全貌照片（1张）<br>商铺内部结构主体、存货的照片（3-4张）<br>消防设施的照片（2-3张）</p>
                        <p>投保单</p>
                    </div>
                </div>
            </div>
            <div class="pro_item pro_item7">
                <div class="item_title">
                    <b>投保须知</b>
                    <i></i>
                </div>
                <div class="item_text">
                    <p>商铺档口的划分和定义：</p>
                    <p>
                        被保险人的物流档口原则上以门牌号码为区分，一个门牌号码对应为一个档口。被保险人应当分门牌档口申报对应的保险金额，保险公司按照每个门牌对应的档口出具保单。
                    </p>
                    <p>
                        如果被保险人为连号门牌和档口的，且档口间存放货物难以分割的，可按照门牌号码确定档口个数，合并投保。联号门牌和档口的总保险金额超过300万时，将分割为多个保单分别出具。<br>&nbsp;&nbsp;（如：某物流企业有5个连号门牌档口，计划为每个档口投保100万的火灾保，因为总保险金额超过300万的限制，可以按照1-3号投保一份300万的保险，4-5号投保一份200万的保险来出单操作）
                    </p>
                    <p>
                        如果档口未规范标示门牌号码且档口之间无法准确分割计算档口个数，可拨打首页24小时客户服务热线，向客服人员提供档口正面和内部结构照片来确定投保方案。
                    </p>
                </div>
            </div>
            <div class="pro_item pro_item8">
                <div class="item_title">
                    <b>主要不保财产、货物</b>
                    <i></i>
                </div>
                <div class="item_text">
                    <p>金银、珠宝、古玩、字画、艺术品等珍贵财物；</p>
                    <p>枪支弹药；</p>
                    <p>动物、植物、农作物。</p>
                </div>
            </div>
            <div class="pro_item pro_item9">
                <div class="item_title">
                    <b>主要不赔事项</b>
                    <i></i>
                </div>
                <div class="item_text">
                    <p>
                        <i></i>投保人、被保险人及其代表的故意或重大过失行为；
                    </p>
                    <p>
                        <i></i>战争、类似战争行为、敌对行动、军事行动、武装冲突、罢工、骚乱、暴动、政变、谋反、恐怖活动；
                    </p>
                    <p>
                        <i></i>地震、海啸及其次生灾害；
                    </p>
                    <p>
                        <i></i>内在或潜在缺陷、自然磨损、自然损耗，大气（气候或气温）变化、正常水位变化或其他渐变原因，物质本身变化、霉烂、受潮、鼠咬、虫蛀、鸟啄、氧化、锈蚀、渗漏、自燃、烘焙；
                    </p>
                    <p>
                        <i></i>自然灾害；
                    </p>
                    <p>
                        <i></i>盗窃、抢劫。
                    </p>
                    <p style="background: none; color: #06acf9;">
                        以上仅为保险条款部分摘要，详细描述请见保险条款具体内容。
                    </p>
                </div>
            </div>
            <div class="pro_item pro_item10">
                <div class="item_title">
                    <b>理赔指南</b>
                    <i></i>
                </div>
                <div class="item_text">
                    <div>
                        <i></i>
                        <p>电话报案</p>
                        <p>保险事故发生后，应及时报案。建议首先拨打首页客户服务热线，与客服人员取得联系。<br>
                          报案成功后，专属保险顾问会及时联系被保险人，指导被保险人处理现场。</p>
                    </div>
                    <div>
                        <i></i>
                        <p>审核</p>
                        <p>查勘员完成查勘工作后，专属保险顾问会发送理赔资料清单，指导被保险人收集填写，直至资料合格后，由保险顾问提交给保险公司核损。<br>
                          保险公司给出核损方案后，您的专属保险顾问会从专业的角度和维护被保险人利益的立场，审核其合理性。</p>
                    </div>
                    <div>
                        <i></i>
                        <p>赔付保险金</p>
                        <p>被保险人与保险公司对赔偿金额皆无异议后，保险公司赔付保险金到被保险人指定账户，本次理赔完成并结案。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="zcb_bottom" v-show="alias" style="display: none;">
            <span class="foot_left1" v-if="flag">￥{{allprice}}</span>
            <a :href="backUrl" class="foot_left2" v-else><i class="iconfont icon-shouye"></i>首页</a>
            <a :href="'tel:'+phoneNumber" class="foot_center" v-if="flag">服务顾问</a>
            <a :href="'tel:'+servicePhone" class="foot_center" v-else>客服</a>
            <!-- <a :href="createUrl" class="foot_right">立即投保</a> -->
            <span @click="insured" class="foot_right">立即投保</span>
        </div>
        <div class="loading">
            <span class="cicle"></span>
            <div class="reload">
                <i class="iconfont icon-wifi"></i><br>
                网络不给力，请重新加载<br>
                <div onclick="window.location.reload()">重新加载</div>
            </div>
        </div>
    </div>
</body>
<script src="js/vue.js"></script>
<script src="js/common.js?v=20180912"></script>
<script src="js/loading.js"></script>
<script src="js/mixins.js?v=20180912"></script>
<script src="js/ajax.js"></script>
<script>
    var vm = new Vue({
        el: '.all',
        mixins:[mobile,goldClaims,videoLogic,iframeHeight],
        data: {
            videoSrc: "",
            videoTitle:'',
            isVideoEnd: true,
            tabIndex: 1, // 控制tab选中状态
            alias: getParamName('alias'),
            caseIndex: 1, // 控制方案tab选中状态
            caseList: [  // 方案详细信息
                [100,20,80,200,1200],
                [200,40,160,200,2200],
                [300,60,240,200,3200],
            ],
            backUrl:backUrl,
            productName:'商铺档口火灾保',
            flag: true,
            servicePhone:"",
            createUrl:backUrl+'/spbCreate?t='+new Date().getTime()
        },
        computed:{
            allprice:function () {
                var allprice = this.caseList[this.caseIndex-1][4].toFixed(2);
                priceAll('￥'+ allprice)
                return allprice;
            }
        },
        created:function () {
            var _this = this;
            if(_this.alias && _this.alias != "null" && _this.alias != "undefined" && _this.alias != "") {
                _this.flag = true;
            }else{
                _this.flag = false;
            }
//            saveDefaultRegisterDate(this.alias,this.productName);
          saveLocationInfo();
            this._getData();
            this.getPhone();
        },
        methods:{
            insured:function() {
                this.$nextTick(() => {
                    setStorage({"createdRouter":this.createUrl});
                    window.location.href = this.createUrl;
                })
            }
        },
    });
</script>
</html>
