<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>安享一生癌症医疗险</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="stylesheet" href="./css/axjkx.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_514054_44qysw76w0tqpvi.css">
  <link rel="stylesheet" href="./css/flexible.css" type="text/css">
  <link rel="stylesheet" href="./plug/LCalendar/LCalendar.css">
  <script src="js/flexible.js"></script>
</head>
<body>
<div class="all" :class="{isShare:alias}">
  <div class="header" v-show="alias" style="display: none;">
    <a :href="backUrl" class="back"><i class="iconfont icon-fanhui"></i></a>
    安享一生癌症医疗险
  </div>
  <div class="banner">
    <img src="img/axjkx/axjkxBanner.jpg" alt="">
  </div>
  <div class="pro_arr">
    <div>
      <span><i class="iconfont icon-checkmarkcircle"></i>70岁可买 续保至105岁</span>
      <span><i class="iconfont icon-checkmarkcircle"></i>三高、糖尿病也能投保</span>
    </div>
    <div>
      <span><i class="iconfont icon-checkmarkcircle"></i>有无社保都能买 0免赔</span>
      <span><i class="iconfont icon-checkmarkcircle"></i>200万保额 仅需50元起</span>
    </div>
  </div>
  <div class="pro_actic mt20 mb20">
    <dl class="pro_plate">
      <dt>保障计划</dt>
      <dd class="tleft">
        <div class="fleft">
          <p>癌症确诊费用保险金</p>
          <p>癌症治疗费用保险金</p>
        </div>
        <span>共享200万元</span>
      </dd>
      <dd><span class="label">保障期限</span><span class="right">一年</span></dd>
      <dd><span class="label">适用人群</span><span class="right">0-70岁</span></dd>
    </dl>
    <dl class="pro_plate mt20">
      <dt>保费试算</dt>
      <dd class="flex">
        <span class="label">为谁投保</span>
        <div class="btn_box">
          <div class="btn" :class="{active:relation==1}" @click="relation=1">为本人</div>
          <div class="btn" :class="{active:relation==2}" @click="relation=2">为父母</div>
          <div class="btn" :class="{active:relation==3}" @click="relation=3">为子女</div>
          <div class="btn" :class="{active:relation==4}" @click="relation=4">为配偶</div>
        </div>
      </dd>
      <dd class="flex">
        <span class="label">出生年月日</span>
        <div class="date_box">
          <input type="text" id="rili" v-model="birth" placeholder="请选择出生日期" disabled>
          <i class="iconfont icon-rili"></i>
        </div>
      </dd>
    </dl>
  </div>
  <div class="pro_a">
    <span @click="scrollToDiv('#detail',0)" :class="{active:tabIndex==0}">产品介绍</span>
    <span @click="scrollToDiv('#problem',1)" :class="{active:tabIndex==1}">常见问题</span>
    <span @click="scrollToDiv('#flow',2)" :class="{active:tabIndex==2}">理赔流程</span>
    <span @click="scrollToDiv('#comment',3)" :class="{active:tabIndex==3}">用户评价</span>
  </div>
  <div class="pro_block"></div>
  <div class="pro_detail mt20">
    <span id="detail"></span>
    <img v-for="(item,index) in 6" :key="index" :src="'img/axjkx/axjkx'+item+'.jpg'" alt="">
  </div>
  <div class="pro_problem pro_msg mt20">
    <span id="problem" class="a_title">常见问题</span>
    <p class="active"><span>Q：</span>癌症确诊费用保险金保障内容包括哪些？</p>
    <p><span>A：</span>癌症确诊费用保险金是指被保险人在等待期后经医院的专科医生确诊初次患有癌症，对于癌症确诊之日前30日内（含确诊日期当日）在医院治疗时发生的与确诊癌症相关的合理且必需的住院或相关门急诊医疗费用，包含医疗诊疗费、检查检验费等。</p>
    <p class="active mt30"><span>Q：</span>癌症治疗费用保险金保障内容包括哪些？</p>
    <p><span>A：</span>癌症治疗费用保险金是指被保险人在等待期后经医院的专科医生确诊初次患有癌症，对于癌症确诊之日后在医院治疗时发生的与治疗癌症相关的合理且必需的住院或相关门急诊医疗费用，包含床位费、护理费、检查检验费、治疗费、药品费、医生诊疗费、手术费、重症监护病房床位费、中医治疗费等。</p>
    <p class="active mt30"><span>Q：</span>等待期内发生的癌症医疗费用是否可以保障？</p>
    <p><span>A：</span>被保险人在等待期内经医院专科医生确诊发生癌症的，保险人不承担给付保险金的责任。 投保人为被保险人首次投保或非连续投保本合同时，自合同生效日起90日为等待期，投保人为被保险人连续投保本合同的无等待期。</p>
    <p class="active mt30"><span>Q：</span>这款产品的等待期是多久？</p>
    <p><span>A：</span>投保人首次投保或非连续投保本保险的，等待期为90天；连续投保无等待期。</p>
    <p class="active mt30"><span>Q：</span>本产品的销售区域有限制么？</p>
    <p><span>A：</span>本产品通过互联网在全国区域销售（除港、澳、台地区）。</p>
    <p class="active mt30"><span>Q：</span>报销医院有什么限制吗？</p>
    <p><span>A：</span>必须是经中华人民共和国卫生部门审核认定的二级或以上的公立医院，即综合性公立医院或专科公立医院，不包括如下机构或医疗服务: (1) 特需医疗、外宾医疗、干部病房、联合病房、国际医疗中心、VIP 部、联合医院; (2) 诊所、康复中心、家庭病床、护理机构; (3) 休养、戒酒、戒毒中心。该医院必须具有系统的、充分的诊断设备，全套外科手术设备及能够提供二十四小时的医疗与护理服务的能力或资质。</p>
    <p class="active mt30"><span>Q：</span>发票怎么开具？</p>
    <p><span>A：</span>请拔打安心客服热线95303或者登录安心互联网保险官网www.95303.com（安心服务->索要发票）。</p>
  </div>
  <div class="pro_flow pro_msg mt20">
    <span id="flow" class="a_title">理赔说明</span>
    <p class="active">第1步 微信报案</p>
    <p>关注并进入安心互联网保险，点击下方“服务”，选择“健康险快赔”菜单进行提交理赔材料。如有问题请拨打安心客服热线95303进行咨询。</p>
    <p class="active">第2步 上传申请资料</p>
    <p>被保险人将以下资料通过官微健康险快赔通道上传：</p>
    <p class="ide"><span>①</span>被保人有效身份证明（正、反面）；</p>
    <p class="ide"><span>②</span>保险人指定或认可的医院出具的病历资料，包含但不限于门诊病历记录、出入院记录、手术记录、必要的病理检查或其他科学检查检验报告；</p>
    <p class="ide"><span>③</span>医疗费用原始凭证、医疗费用结算清单、手术费用清单（若发生手术时需提供）；</p>
    <p class="ide"><span>④</span>所能提供的与确认保险事故的性质、原因等有关的其他证明和资料；</p>
    <p class="ide"><span>⑤</span>被保险人的银行账户信息。</p>
    <p class="glay">温馨提示：根据我司理赔审核要求，部分案件可能需要补充提交理赔申请材料原件。</p>
    <p class="active">第3步 查勘</p>
    <p>根据案件需要，保险公司会派员进行查勘。</p>
    <p class="active">第4步 理赔</p>
    <p>理赔资料审核通过后，十个工作日内将赔款支付到指定账户。</p>
  </div>
  <div class="pro_comment mt20" :class="{show_foot:alias || isFrame}">
    <dl>
      <dt id="comment">用户评价<span class="right html_detail" v-if="alias || isFrame" >查看全部 <i class="iconfont icon-right"></i></span></dt>
      <dd v-for="(item,index) in commentList" :key="index">
        <div class="tou">
          <img src="./img/man.png" alt=""><span>{{item.nickname}}</span>
        </div>
        <p class="msg" v-html="item.content"></p>
      </dd>
    </dl>
  </div>
  <div v-if="urlFromApp==0" class="pro_foot" v-show="alias || isFrame" style="display: none;">
    <a  :href="'tel:'+phoneNumber"class="kefu">
      <div>
        <div class="img"></div>
        <div>客服顾问</div>
      </div>
    </a>
    <div class="price">￥{{(price/100 | 0)}}<span v-show="qi">起</span></div>
    <div class="html_next next" @click="next">立即投保</div>
  </div>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/common.js?v=20181227"></script>
<script src="js/ajax.js"></script>
<script src="js/mixins.js?v=20180605"></script>
<script src="plug/LCalendar/LCalendar.js?v=20180605"></script>
<script>
	var cmnServiceProductCommentList = function (params, success, fail) {
		return promise(zcbUrl + "/v1/cmn/service/product/comment/list", params, success, fail)
	}
	var jkxOrderPrice = function (params, success, fail) {
		return promise(zcbUrl + "/v1/jkx/order/price", params, success, fail)
	}
	var vm = new Vue({
		el: '.all',
    mixins:[mobile,goldClaims,videoLogic,iframeHeight,hynbPrice],
		data: {
      alias: getParamName('alias'),
			productType:'axjkx',
			backUrl:backUrl,
			createUrl:'https://www.jubao56.com/m/#/axjkxRisk?t='+new Date().getTime(),
      productName:'安享一生癌症医疗险',
			relation:1,
      commentList:[],
      urlFromApp:getParamName("fromApp")||0,
			isFrame:window.parent.document.getElementsByClassName('h5_wrapper')[0],
      timer:null,
      tabIndex:0,
			birth:"",
      price:5000,
			qi:true
		},
		created:function () {
      saveLocationInfo();
      this.alias = getParamName('alias');
      this.getPhone();
      this.getCommentList();
		},
    mounted:function(){
			var calendar = new LCalendar();
			var date = new Date(new Date().getTime() - 28*24*60*60*1000);
			calendar.init({
        'opener':'.icon-rili',
				'trigger': '#rili',
				'type': 'date', //date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择,
				'minDate': (new Date().getFullYear()-70) + '-' + (new Date().getMonth()+ 1) + '-' + new Date().getDate(), //最小日期
				'maxDate': date.getFullYear() + '-' + (date.getMonth()+1) + '-' + date.getDate() //最大日期
			});
			this.scrollWatch();
    },
    watch:{
			birth:function (val) {
        this.getPrice();
        this.qi = false;
			}
    },
		methods:{
      scrollToDiv:function(elm,index){
      	this.tabIndex = index;
				clearInterval(this.timer);
				var _this = this;
        var oElm = document.querySelector(elm);
				var oPro = document.querySelector('.pro_a');
        var oAll = document.querySelector('.all');
        var oHeader = document.querySelector('.header');
        var mH = oHeader.offsetHeight;
        var newScrollTop = oElm.offsetTop-mH-oPro.offsetHeight;
				animation();
        this.timer = setInterval(animation,20);
        function animation (){
					var speed = Math.ceil((newScrollTop-oAll.scrollTop)/8);
					oAll.scrollTop += speed;
					if((speed >= -1 && speed <= 0) || oAll.scrollTop + oAll.offsetHeight === oAll.scrollHeight){
						clearInterval(_this.timer)
					}
        }
      },
      scrollWatch:function(){
				var oPro = document.querySelector('.pro_a');
				var oAll = document.querySelector('.all');
				var oHeader = document.querySelector('.header');
				var oBlock = document.querySelector('.pro_block');
				var oDetail = document.querySelector('#detail');
				var oProblem = document.querySelector('#problem');
				var oFlow = document.querySelector('#flow');
				var oComment = document.querySelector('#comment');
				var mH = oHeader.offsetHeight;
				var bH = document.documentElement.clientHeight;
				var eT = oPro.offsetTop;
				var _this = this;
				oAll.addEventListener('scroll',function () {
          if(eT <= oAll.scrollTop + mH){
						oPro.style.position = 'fixed';
						oPro.style.top = mH + 'px';
						oPro.style.left = '0';
						oPro.style.right = '0';
						oBlock.style.display = 'block';
          }else{
						oPro.style.position = 'relative';
						oPro.style.top = '0';
						oPro.style.left = '0';
						oBlock.style.display = 'none';
          }
          let newScrollT = oAll.scrollTop  + (bH/2);
          if( newScrollT >= oDetail.offsetTop && newScrollT <= oProblem.offsetTop){
          	_this.tabIndex = 0
          }
          if(newScrollT >= oProblem.offsetTop && newScrollT <= oFlow.offsetTop){
						_this.tabIndex = 1
          }
          if(newScrollT >= oFlow.offsetTop && newScrollT <= oComment.offsetTop){
						_this.tabIndex = 2
					}
					if(newScrollT >= oComment.offsetTop || oAll.scrollTop + oAll.offsetHeight === oAll.scrollHeight){
						_this.tabIndex = 3
					}
				})
				oAll.addEventListener('touchstart',function () {
		      clearInterval(_this.timer)
				});
      },
      next:function(){
				var isH5 = window.parent.document.getElementsByClassName('h5_wrapper')[0];
				if(!isH5){
					window.location.href = this.createUrl;
        }
      },
      getPrice:function () {
        var _this = this;
				jkxOrderPrice({product_name:_this.productName,birth:this.birth},function (res) {
					if(res.err_code === 0){
						_this.price = res.data;
						priceAll('￥' + (_this.price/100 | 0));
					}else{
						Toast(res.err_msg || '未知错误');
					}
				})
			},
      getCommentList:function () {
      	var _this =this;
				cmnServiceProductCommentList({product_name:this.productName,page:1,rows:2},function (res) {
          if(res.err_code === 0){
						_this.commentList = res.rows;
          }else{
          	Toast(res.err_msg || '未知错误')
          }
				})
			}
		},
	});
</script>
</html>
